# Copy to secrets.yaml and fill in values

wifi_ssid: "YourWiFiSSID"
wifi_password: "YourWiFiPassword"
ap_password: "FallbackAPPassword"
api_key: "GenerateWithEsphomeKeyCommand"
ota_password: "OTAUpdatePassword"
